@using PopCorn.DataLayer.Models.DTO
@model List<PopCorn.DataLayer.Models.Interfaces.IEntity>
@{
    var typeStructure = (List<ExtendedPropertyInfo>)ViewBag.TableTypeStructure;
    var editLink = (string)ViewBag.EditLink;
    var linkParams = (Dictionary<string, int>)ViewBag.LinkParams;
}

<form action="@editLink" class="create-button">
    @if (linkParams != null)
    {
        foreach (var param in linkParams)
        {
            <input type="hidden" name="@param.Key" value="@param.Value" />
        }
    }
    <input type="submit" value="Создать"/>
</form>

<table class="data-table table table-striped table-bordered" style="width:100%">
    <thead>
    <tr>
        @foreach (var structureData in typeStructure)
        {
            <th>@structureData.TableViewAttribute.Name</th>}
        <th>Управление</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var modelData in Model)
    {
        <tr>
            @foreach (var structureData in typeStructure)
            {
                <td>@structureData.Property.GetValue(modelData, null)</td>
            }

            @{
                var actualEditLink = $"{editLink}?id={modelData.Id}";
                if (linkParams != null)
                {
                    actualEditLink += string.Join("", linkParams.Select(p => $"&{p.Key}={p.Value}"));
                }
            }
            <td><a href="@(actualEditLink)">Редактировать</a></td>
        </tr>
    }
    </tbody>
</table>
